[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group Service Users
	owner = group user/Lekanswanson
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lekanswanson
	label-Verified = -1..+1 group user/Lekanswanson
	push = group user/Lekanswanson
	read = group user/Lekanswanson
	rebase = group user/Lekanswanson
	removeReviewer = group user/Lekanswanson
	submit = group user/Lekanswanson
[access "refs/heads/*"]
	create = group user/Lekanswanson
	push = +force group user/Lekanswanson
	pushMerge = group user/Lekanswanson
	read = group user/Lekanswanson
	label-Verified = -1..+1 group Service Users
[access "refs/tags/*"]
	push = group user/Lekanswanson
	push = +force group user/Lekanswanson
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0
	copyAllScoresIfNoChange = false
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyAllScoresIfNoChange = false
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[plugin "simple-submit-rules"]
	blockIfUnresolvedComments = false
