[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Lekanswanson
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lekanswanson
	label-Verified = -1..+1 group user/Lekanswanson
	push = group user/Lekanswanson
	read = group user/Lekanswanson
	rebase = group user/Lekanswanson
	removeReviewer = group user/Lekanswanson
	submit = group user/Lekanswanson
[access "refs/heads/*"]
	create = group user/Lekanswanson
	push = +force group user/Lekanswanson
	pushMerge = group user/Lekanswanson
	read = group user/Lekanswanson
[access "refs/tags/*"]
	push = group user/Lekanswanson
	push = +force group user/Lekanswanson
